# Angular
node_modules/
dist/
.angular/

# Spring Boot / Maven
target/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Variables d'environnement
.env

# Java
*.class